{% assign grants_awards = site.data.data.grants_awards %}
{% if grants_awards %}

<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <!-- <i class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i> -->
      <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
    </span>
    {{ grants_awards.title }}
  </h2>
  
  {% if grants_awards.grants %}
  <div class="intro"> Grants: </div>

  {% for grant in grants_awards.grants %}
  <div class="item">
    <div class="publication-title">
      {{ grant.title }}</div>
    <div class="publication-conference">
      {% if grant.amount %}{{ grant.amount }},{% endif %}
      {{ grant.date }} 
    
    {% if grant.link %}<a href="{{ grant.link }}" target="_blank"> (Link) </a>{% endif %}

    <!--//meta-->

    {% if grant.details %}
    <div class="publication-tldr">
      {{ grant.details | markdownify }}
    </div>
    <!--//details-->
    {% endif %}

  </div>
  <!--//item-->
  {% endfor %}
  {% endif %}

  {% if grants_awards.awards %}
  <!-- Add empty line -->
  <br>
  <div class="intro"> Awards: </div>

  {% for award in grants_awards.awards %}
  <div class="item">
    <div class="publication-title">
      {{ award.title }}</div>
    <div class="publication-conference">
      {% if award.amount %}{{ award.amount }},{% endif %}
      {{ award.date }} 
    
    {% if award.link %}<a href="{{ award.link }}" target="_blank"> (Link) </a>{% endif %}

    <!--//meta-->

    {% if award.details %}
    <div class="publication-tldr">
      {{ award.details | markdownify }}
    </div>
    <!--//details-->
    {% endif %}

  </div>
  <!--//item-->
  {% endfor %}
  {% endif %}

</section>
<!--//section-->
{% endif %}