{% assign talks_list = site.data.data.talks %}
{% if talks_list %}

<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i>
      <!-- <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i> -->
    </span>
    Talks
  </h2>
  
  {% if talks_list.recorded_talks %}
  <div class="intro"> Recorded talks: </div>

  {% for talk in talks_list.recorded_talks %}
  <div class="item">
    <div class="publication-title">
      {{ talk.title }}</div>
    <div class="publication-conference">
      {{ talk.date }} <br>
      {{ talk.place }}
    {% if talk.link %}<a href="{{ talk.link }}" target="_blank"> (Video) </a>{% endif %}

    <!--//meta-->

    {% if talk.details %}
    <div class="publication-tldr">
      {{ talk.details | markdownify }}
    </div>
    <!--//details-->
    {% endif %}

  </div>
  <!--//item-->
  {% endfor %}
  {% endif %}

  {% if talks_list.research_presentations %}
  <!-- Add empty line -->
  <br>
  <div class="intro"> Personal research presentations: </div>

  {% for talk in talks_list.research_presentations %}
  <div class="item">
    <div class="publication-title">
      {{ talk.title }}</div>
    <div class="publication-conference">
      {{ talk.date }} <br>
      {{ talk.place }}

    {% if talk.link %}<a href="{{ talk.link }}" target="_blank"> (Video) </a>{% endif %}

    <!--//meta-->

    {% if talk.details %}
    <div class="publication-tldr">
      {{ talk.details | markdownify }}
    </div>
    <!--//details-->
    {% endif %}

  </div>
  <!--//item-->
  {% endfor %}
  {% endif %}

</section>
<!--//section-->
{% endif %}